
.navbar-custom {
  background-color: black;
  padding: 15px;
  text-align: center;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
  transition: color 0.3s;
  font-size: 16px;
}

.navbar-custom .navbar-toggler-icon {
  background-color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #ef562f;
}

.sidebar {
  background-color: #f8f9fa;
  padding: 20px;
  height: 100%;
}

.contextual-text {
  background-color: #f8f9fa;
  padding: 20px;
  height: 100%;
}
.custom-table {
  width: 100%;
  margin-bottom: 20px;
  margin-top:10px;
  border: 1px solid #dee2e6;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

.custom-table th, .custom-table td {
  border: 1px solid #dee2e6;
  padding: 12px;
  text-align: center;
}

.custom-table th {
  background-color: #454545;
  color:white
}

.custom-table tbody tr {
  background-color: #f2f2f2;
  
  
}
h1{
  font-size:30px;
}
h2{
  font-size: 26px;
}
 /* Light Green Button */
 .btn-primary {
background-color: #000000; /* Black background color */
color: #ffffff; /* White text color for better contrast */
transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

/* Lighten the button color on hover for a subtle effect */
.btn-primary:hover {
background-color: #333333; /* Slightly lighter shade of black on hover */
}
